body{
  width: 100%;
  height: 100%;
}

.hero{
  width: 100%;
  height: 100%;
  top: 0;
}

.accueil{
  height: 200px;
  position: absolute;
  top: 0;
}

.billboardText{
  text-align: justify;
}

picture{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 75% 0%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.bck-opacity{
  opacity: 40%;
  background-color: grey;
}

 .title-1{
  margin: 12px 20px 12px 20px;
  text-align: center;
} 

@media (orientation: landscape) {
  .hero{
    height:56.25vw;
    width: 100%;
  }
}

.nav-link {
  opacity: 100%;
}

.navbar-dark{
    background-color: #540a0a;
}

nav{
    width: 100% ;
    height: 60px;
    position: relative;
    bottom: 0;
}

footer{
  background-color: #730e0e;
  margin-top: 20px;
  text-align: center;
}

.texteFooter{
  padding-top: 20px;
  color:black;
}

.lienGit{
  color: black; 
  text-decoration: none;
}

.lienGit:hover{
  color: black;
}

@media (min-width: 992px){
  footer{
    height: 13%;
  }
}

.youAreHere{
  color:black !important;
}

.anim{
  margin-top: 10px;
}

.card{
 margin-top: 10px;
}

.titre{
  text-align: center;

}
