
.hero{
  width: 100vw;
  height: 100vh;
}
picture{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bck-opacity{
  opacity: 50%;
}

.container-fluid{
  position: absolute; 
  width: 100%;
  height: 100%;
}

.row{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1000px) {
  .hero{
    height:56.25%;
  }
}