:root {
  --persimmon: #E05A00;
  --rossoCorsa: #CC2900;
  --kleinBlue: #0029A3;
  --hunterGreen: #3E6541;
  --harvestGold: #CC8800;
  --titre: 'Bebas Neue', cursive;
  --texte: 'Inter', sans-serif;
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header {
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 1000px) {
  header {
    height: 56.25vw;
  }
}

picture {
  background-color: #3e6541;
  width: 100%;
  height: 100%;
  position: absolute;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 45% 0%;
}


.contrast {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0029a3;
  opacity: 20%;
  top: 0;
}

.container-fluid,
.row {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.titre{
  font-size: 90px;
  font-family: var(--titre);
  color: black;
}
.texte{
  font-family: var(--texte);
  font-weight: 900;
  font-size: 28px;
  color: black;
  line-height: 40px;
}

.btn{
  padding: 10px 10px;
  background-color: black;
  font-family: var(--texte);
  color: rgb(255, 255, 255);
  font-size: large;
}

.navbar{
  position: absolute;
  top: 0;
  height: 70px;
  z-index: 1;
  background: rgb(0, 0, 0);
  width: 100%;
}

.logo{
  font-family: var(--titre);
  color: white;
}