@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap");
:root {
  --persimmon: #e05a00;
  --rossoCorsa: #cc2900;
  --kleinBlue: #0029a3;
  --hunterGreen: #3e6541;
  --harvestGold: #cc8800;
  --titre: "Bebas Neue", cursive;
  --texte: "Inter", sans-serif;
}

body {
  font-size: 16px;
}

.title-1 {
  font-size: 30px;
  font-family: var(--titre);
}

.title-2 {
  font-size: 25px;
}

.title-3 {
  font-size: 20px;
}
